*/bin/
*/obj/

*/.config/
.config/

*.user
*.vs
.vscode/

*.suo
*.cache
*.csproj.user
*.fsproj.user
*.userprefs
*.sln.ide
*.sln.docstates

*.log
*.tlog

*.nupkg
*.snupkg
*.nuget
packages/

*.dll
*.exe
*.pdb
*.apphost

.idea/
*.idea/
.idea_modules/
*.iml

*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json
*.sourcelink.json

.DS_Store
._*

Thumbs.db
ehthumbs.db
Desktop.ini

*.cache/
*.AssemblyInfoInputs.cache
*.AssemblyReference.cache

project.nuget.cache
*.FileListAbsolute.txt

TestResults/
*.trx
*.coverage

~$*
*.tmp
*.temp
*.bak
*.old
*.orig

.dotnet-watch.json

.dotnet-tools/

.publish/
